@media only screen and (max-width: 1300px) {
  /* .uniqDesign-column {
    display: flex;
    flex-direction: column;
    max-width: 370px !important;
    width: 100%;
  } */
}
@media only screen and (max-width: 1200px) {
  .nav {
    gap: 15px;
  }
  .header-left {
    gap: 20px;
  }
  .header-right {
    gap: 10px;
  }
  .chooseUs-cards-image {
    max-width: 400px;
    height: 300px;
    margin-top: 100px;
  }
  .remember-right {
    max-width: 460px;
  }

}
@media only screen and (max-width: 1100px) {
  .uniqDesign-column {
    max-width: 100%;
  }
  .uniqDesign-column-image{
    height: 200px;
  }
  .padding-container {
    max-width: 100%;
    padding: 10px 15px;
    margin: 0 auto;
}
.charWidthContainer{
  flex-shrink: 0;
}
  .mobile-hide {
    display: none;
  }
  .mobile-noPad {
    padding: 10px 0 !important;
  }
  .hero {
    border-radius: 0;
    flex-direction: column;
    gap: 40px;
    padding: 40px 10px;
    margin: 90px 0 30px;
  }
  .mobile-hero-button {
    display: block !important;
  }
  .hero-button {
    display: none;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    padding: 0 0;
  }
  .toast-message {
    font-size: 20px;
  }
  .remember {
    border-radius: 0;
    flex-direction: column;
  }
  .orderConsult-button {
    max-width: 100%;
    font-size: 22px;
  }
  .remember-right {
    max-width: 100%;
    gap: 5px;
  }
  .charWidthContainer {
    display: flex;
    flex-direction: column;
    max-width: 415px !important;
    width: 100%;
  }
  .uniqDesign-columns {
    flex-direction: column;
  }
  .scroll-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    flex-shrink: 0;
    /* white-space: nowrap; */
  }
}
@media only screen and (max-width: 1000px) {
  .statistic {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  .chooseUs-cards-column {
    margin-top: 25px;
    gap: 25px;
  }
  .chooseUs-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .leftCards {
    align-items: center;
    text-align: center;
  }
  .rightCards {
    align-items: center;
    text-align: center;
  }
  .how-we-work-flex {
    gap: 40px;
  }
  .footer-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .contacts-flex-right {
    display: none;
    gap: 0;
  }
}

@media only screen and (max-width: 875px) {
  .header-right {
    gap: 20px;
  }
  .nav {
    display: none;
  }
  .custom-burger {
    display: flex;
  }
  .mobile-burger {
    display: flex;
  }
}
@media only screen and (max-width: 750px) {
  .goods-mobile{
    display: flex;
    margin-bottom: 50px;
  }
  .controls-goods-slides{
    display: none;
  }
  .goods-slides{
    display: none;
  }
  .modalTahnkYou-container {
    padding: 40px;
    max-width: 600px;
    border-radius: 20px;
  }
  .modalConsultating-container {
    padding: 30px;
    max-width: 530px;
    border-radius: 20px;
  }

  .toast-message {
    font-size: 16px;
  }

  .how-we-work-card {
    max-width: 600px;
    width: 100%;
  }

  .footer-flex-left {
    flex-direction: column;
  }
  .footer-flex-left-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }
  .marginSection {
    height: 80px;
  }
  .remember {
    padding: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .cart-menu{
    max-width: 100%;
  }
  .sliding-menu {
    top: 87px;
  }
  .logo {
    width: 66px;
    height: 66px;
  }
  .hero {
    margin: 74px 0 30px;
  }
  .modalTahnkYou-container {
    padding: 40px;
    max-width: 500px;
    border-radius: 20px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-subTitle {
    font-size: 24px;
  }
  .section-title p {
    color: rgba(45, 45, 45, 1);
    line-height: 30.69px;
    letter-spacing: 0%;
  }
  .goods {
    margin-bottom: 40px;
  }
  .moreGoods-block {
    max-width: 100%;
  }
  .controls-moreGoods-slides {
    max-width: 420px;
  }
  .chooseUs-cards-image {
    display: none;
    max-width: 100%;
    height: auto;
    margin-top: 100px;
  }
  .chooseUs-under{
    margin-top: 50px;
  }
}
@media only screen and (max-width: 565px) {
  .modalTahnkYou-return {
    font-size: 20px;
  }
  .modalTahnkYou-container {
    padding: 25px;
    max-width: 400px;
    border-radius: 20px;
  }
  .modalConsultating-container {
    padding: 20px;
    max-width: 480px;
    border-radius: 20px;
    overflow-y: scroll;
  }

  .hero-title {
    font-size: 34px;
  }
  .gallery-modal.active {
    display: none;
  }
  .testimonials-slides {
    margin: 20px auto;
  }
  .section-title {
    gap: 6px;
  }
  .fs-title {
    font-size: 38px;
  }
  .fs-xl {
    font-size: 38px;
  }
  .fs-sm {
    font-size: 22px;
  }
  .fs-ml {
    font-size: 28px;
  }
}
@media only screen and (max-width: 500px) {
  .charWidthContainer{
    max-width: 380px!important;
  }
  .form-container {
    margin-top: 10px;
    width: 100%;
  }
  .form-group {
    margin-bottom: 10px;
    width: 100%;
  }
  .modalConsultating-container {
    padding: 20px;
    max-width: 375px;
  }
  .form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 0;
    flex-direction: column;
  }
  .fs-s {
    font-size: 16px;
  }
  .chooseUs-cards-image {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .hero-subTitle {
    font-size: 20px;
    padding-top: 2px;
  }
  .hero-title {
    font-size: 28px;
    line-height: 45.64px;
  }
  .statistic-block-img {
    width: 35px;
    height: 35px;
  }
  .statistic-block {
    max-width: 100%;
  }
  .statistic {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  .toast-message {
    width: 90%;
    text-align: center;
    font-size: 16px;
  }
  .fs-xsm {
    font-size: 20px;
  }
  .fs-title {
    font-size: 36px;
  }
  .fs-xl {
    font-size: 34px;
  }
  .fs-sm {
    font-size: 18px;
  }
  .fs-ml {
    font-size: 24px;
  }
  .orderConsult-button {
    font-size: 18px;
  }
  .contacts-flex-left {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .marginSection {
    height: 70px;
  }

  .fs-m {
    font-size: 20px;
  }

  .padding-container {
    padding: 10px 10px;
  }
  .hero-right-card p {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
  .hero-button {
    margin-top: 10px;
    font-size: 21px;
    max-width: 100%;
    width: 100%;
  }
  .hero-right {
    gap: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .charWidthContainer{
    max-width: 340px!important;
  }
  .modalTahnkYou-return {
    font-size: 16px;
  }
  .modalTahnkYou-container {
    padding: 25px;
    max-width: 340px;
    border-radius: 20px;
  }
  .modalConsultating-container {
    padding: 20px;
    max-width: 345px;
  }
  textarea {
    min-height: 50px;
    resize: vertical;
  }
  .hero-right-card p {
    font-size: 15px;
  }
  .hero-button {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 5px;
    max-width: 100%;
    width: 100%;
  }
  .hero-subTitle {
    font-size: 16px;
    line-height: 22.69px;
    padding-top: 2px;
  }
  .hero-title {
    font-size: 24px;
    line-height: 37.64px;
  }
  .section-title p {
    color: rgba(45, 45, 45, 1);
    line-height: 20.69px;
  }
  .modal-content {
    padding: 0;
  }
  .fs-title {
    font-size: 30px;
  }
  .fs-xl {
    font-size: 31px;
  }
  .fs-sm {
    font-size: 16px;
  }
  .fs-ml {
    font-size: 21px;
  }
  .orderConsult-button {
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 15px;
  }
  .remember {
    padding: 15px 12px;
  }
  .remember-right {
    padding: 15px 12px;
  }
}

@media only screen and (max-width: 400px) {
  .charWidthContainer{
    max-width: 310px!important;
  }
}
@media only screen and (max-width: 365px) {
  .charWidthContainer{
    max-width: 280px!important;
  }
  .modalTahnkYou-return {
    font-size: 14px;
  }
  .modalTahnkYou-container {
    padding: 20px;
    max-width: 310px;
    border-radius: 20px;
  }
  .modalConsultating-container {
    padding: 20px;
    max-width: 315px;
  }
  .hero-right-card p {
    font-size: 13px;
  }
  .hero-button {
    font-size: 16px;
  }
  .hero-title {
    font-size: 21px;
    line-height: 34.64px;
  }
  .fs-title {
    font-size: 27px;
  }
  .fs-m {
    font-size: 18px;
  }

  .fs-xl {
    font-size: 28px;
  }
  .fs-sm {
    font-size: 14px;
  }
  .fs-ml {
    font-size: 21px;
  }
  .orderConsult-button {
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 15px;
  }
}
